.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: red;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #30a682;
}

.header-row {
    background: rgb(117, 3, 102);
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}